**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/bin
**/obj
**/__pycache__
**/.pytest_cache
**/node_modules
**/npm-debug.log
**/dist
**/build
.DS_Store
.env.local
.env.*.local
*.log
.gitignore
README.md
.git
